* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-size: 11pt;
}

*:hover,
*:focus,
*:active,
*:focus-visible {
    border: none;
    background-color: transparent;
}

:root {
    --g: #202020;
}

#header {
    margin: 1rem;
}

.my-header-btn {
    background: transparent;
    color: var(--g);
    text-align: start;
    border: none;
}

.dropdown-toggle::after {
    display: none;
}

.btn:hover, 
.btn-group>.btn:active, 
.btn:focus-visible {
    background-color: transparent;
    color: var(--g);
}
.dropdown-menu {
    border-color: transparent;
}
main {
    height: 100vh;
    width: 100vw;
    max-height: 100vh;
    max-width: 100vw;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
#main-container {
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 100%;
}
#home-crsl {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: hidden;
    align-items: center;
    cursor: grab;
    user-select: none;
}
#home-crsl img {
    width: 85%;
    object-fit: cover;
    pointer-events: none;
}
.col-3 {
    width: 30%;
}