* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-size: 11pt;
}

*:hover,
*:focus,
*:active,
*:focus-visible {
    border: none;
    background-color: transparent;
}

:root {
    --g: #202020;
}

header {
    margin: 1rem;
}

.my-header-btn {
    background: transparent;
    color: var(--g);
    text-align: start;
    border: none;
}

.dropdown-toggle::after {
    display: none;
}

.btn:hover, 
.btn-group>.btn:active, 
.btn:focus-visible {
    background-color: transparent;
    color: var(--g);
}